// img {
//     width: 150px;
//     box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
//   }


// .header-flat h1 {
//     font-size: 18px;
//     margin-top: 0;


.container2 {
  display: flex;
  background-color: white;

  h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
    color: rgba(0,0,0,0.7);
  }

  img {
  height: 100px;
}
}


